<!-- FinanceTracker/templates/FinanceTracker/budget.html -->

{% extends "FinanceTracker/base.html" %}

{% block title %}Budget{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Set Budget</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Set Budget</button>
    </form>

    <hr>

    <h2>Budget Overview</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category</th>
                <th>Budgeted Amount</th>
                <th>Spent Amount</th>
                <th>Remaining Amount</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody>
            {% for budget in budget_data %}
            <tr>
                <td>{{ budget.category }}</td>
                <td>{{ budget.budgeted }}</td>
                <td>{{ budget.spent }}</td>
                <td>{{ budget.remaining }}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ budget.progress }}%;" aria-valuenow="{{ budget.progress }}" aria-valuemin="0" aria-valuemax="100">{{ budget.progress }}%</div>
                    </div>
                </td>   
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container mt-3">
    <a href="{% url 'home' %}" class="btn btn-outline-primary mb-4">
        <i class="fas fa-arrow-left mr-2"></i> Back
    </a>
{% endblock %}
